<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin panel{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/bundles/dashboard/css/bootstrap.min.css" />
        {% stylesheets
        '@CoreBundle/Resources/public/vendor/jquery-ui/themes/base/core.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style type="text/css">
            .twitter-typeahead .tt-menu {
                max-height: 300px;
                overflow-y: auto;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block page %}
    <div class="container">
        <div class="panel panel-default clearfix">
            <div class="panel-body">
                {{ include('DashboardBundle:Layout:header.html.twig') }}
            </div>
            </div>
        <div class="row-fluid">
            <div class="col-md-3">
                {{ system_modules() }}
            </div>
            <div class="col-md-9">
                {% block body %}{% endblock %}
            </div>
        </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    {% javascripts
    '@jquery_js'
    '@bootstrap_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
</body>
</html>
