<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
{% javascripts '@jquery_js' '@CoreBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{{ javascripts|raw }}