{% if bundles %}
<ul class="nav nav-pills nav-stacked">
    {% for group,items in bundles %}
        <li>{{ group|trans({}, 'systems') }}
            {% if items|length > 0 %}
                <ul>
                {% for item in items %}
                    <li><a href="{{ url(item.defaultRoute) }}">{{ item.title|trans({}, 'systems') }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}
